#search-btn {
    display: none;
  }
  
  .side-bar {
    position: fixed;
    top: 0;
    left: -110%;
    height: 100%;
    width: 30rem;
    background:var(--couleur-secondaire);
    z-index: 10000;
  }
  
  .side-bar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  }
  
  .side-bar #close-side-bar {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: #666;
  }
  
  .side-bar #close-side-bar:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #333;
  }
  
  .side-bar .user {
    padding: 2rem;
    background: #eee;
    text-align: center;
  }
  
  .side-bar .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: .5rem;
  }
  
  .side-bar .user h3 {
    padding: .5rem 0;
    font-size: 1.7rem;
    color: #666;
  }
  
  .side-bar .user a {
    font-size: 1.5rem;
    color: #0984e3;
  }
  
  .side-bar .user a:hover {
    color: #333;
  }
  
  .side-bar .navbar {
    padding-top: 1rem;
  }
  
  .side-bar .navbar a {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    color: #666;
  }
  
  .side-bar .navbar a:hover {
    color: #0984e3;
  }
  
  .side-bar .navbar a:hover i {
    padding-right: 2rem;
  }
  
  .side-bar .navbar a i {
    padding-right: .5rem;
  }
  