@use 'include';
/* line 4, static/main/include.scss */
html {
  overflow-x: hidden;
  font-size: 62.5%; }

/* line 9, static/main/include.scss */
html::-webkit-scrollbar {
  width: 1rem; }

/* line 13, static/main/include.scss */
html::-webkit-scrollbar-track {
  background: var(--couleur-secondaire); }

/* line 18, static/main/include.scss */
html::-webkit-scrollbar-thumb {
  background: var(--couleur-primaire);
  border-radius: 5rem; }

/* line 24, static/main/include.scss */
body {
  background: var(--couleur-secondaire); }

/* line 28, static/main/include.scss */
#responsive {
  display: none; }

/* line 32, static/main/include.scss */
#large {
  display: block; }

/* line 36, static/main/include.scss */
#shop {
  display: none; }

/* line 40, static/main/include.scss */
section {
  padding: 3rem 9%; }

/* line 44, static/main/include.scss */
.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--couleur-noir); }

/* line 51, static/main/include.scss */
.heading span {
  color: var(--couleur-primaire); }

/* line 55, static/main/include.scss */
.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--couleur-blanc);
  cursor: pointer;
  background: var(--couleur-primaire); }

/* line 66, static/main/include.scss */
.btn:hover {
  background: var(--couleur-blue); }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0; } }

/* line 86, static/main/include.scss */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--couleur-primaire);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 9%; }

/* line 106, static/main/include.scss */
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder; }

/* line 112, static/main/include.scss */
.header .logo i {
  color: gold; }

/* line 116, static/main/include.scss */
.header .search-form {
  border-radius: 5rem;
  height: 5rem;
  width: 50rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--couleur-secondaire); }

/* line 130, static/main/include.scss */
.header .search-form input {
  width: 100%;
  padding-right: 1rem;
  font-size: 1.7rem;
  text-transform: none;
  color: #666; }

/* line 138, static/main/include.scss */
.header .search-form label {
  font-size: 2rem;
  color: #666;
  cursor: pointer; }

/* line 144, static/main/include.scss */
.header .search-form label:hover {
  color: #0984e3; }

/* line 148, static/main/include.scss */
.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer; }

/* line 156, static/main/include.scss */
.header .icons a:hover,
.header .icons div:hover {
  color: gold; }

/* line 161, static/main/include.scss */
#search-btn {
  display: none; }

/* line 165, static/main/include.scss */
.side-bar {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 30rem;
  background: var(--couleur-secondaire);
  z-index: 10000; }

/* line 175, static/main/include.scss */
.side-bar.active {
  left: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7); }

/* line 181, static/main/include.scss */
.side-bar #close-side-bar {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #666; }

/* line 190, static/main/include.scss */
.side-bar #close-side-bar:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #333; }

/* line 196, static/main/include.scss */
.side-bar .user {
  padding: 2rem;
  background: #eee;
  text-align: center; }

/* line 202, static/main/include.scss */
.side-bar .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin-bottom: .5rem; }

/* line 212, static/main/include.scss */
.side-bar .user h3 {
  padding: .5rem 0;
  font-size: 1.7rem;
  color: #666; }

/* line 218, static/main/include.scss */
.side-bar .user a {
  font-size: 1.5rem;
  color: #0984e3; }

/* line 223, static/main/include.scss */
.side-bar .user a:hover {
  color: #333; }

/* line 227, static/main/include.scss */
.side-bar .navbar {
  padding-top: 1rem; }

/* line 231, static/main/include.scss */
.side-bar .navbar a {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: #666; }

/* line 238, static/main/include.scss */
.side-bar .navbar a:hover {
  color: #0984e3; }

/* line 242, static/main/include.scss */
.side-bar .navbar a:hover i {
  padding-right: 2rem; }

/* line 246, static/main/include.scss */
.side-bar .navbar a i {
  padding-right: .5rem; }

/* line 250, static/main/include.scss */
.home {
  background: var(--couleur-blanc); }

/* line 254, static/main/include.scss */
.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 40rem;
  padding: 2rem 0; }

/* line 268, static/main/include.scss */
.home .slide .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  text-align: center; }

/* line 275, static/main/include.scss */
.home .slide .image img {
  height: 30rem; }

/* line 279, static/main/include.scss */
.home .slide .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem; }

/* line 285, static/main/include.scss */
.home .slide .content span {
  font-size: 2rem;
  color: #0984e3; }

/* line 290, static/main/include.scss */
.home .slide .content h3 {
  padding-top: .5rem;
  color: #333;
  font-size: 3rem; }

/* line 296, static/main/include.scss */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #333; }

/* SECTION DE VENTES */
/* Debut code de test */
/* Fin code de test */
/* line 309, static/main/include.scss */
.banner .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(31rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem; }

/* line 317, static/main/include.scss */
.banner span {
  color: red; }

/* line 321, static/main/include.scss */
.banner .box-container .box {
  position: relative;
  height: 35rem;
  border: 0.2rem solid #333;
  border-radius: .5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(203, 65, 65, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* .banner .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
} */
/* line 336, static/main/include.scss */
.banner .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

/* line 343, static/main/include.scss */
.banner .box-container .box .content {
  position: absolute;
  top: 55%;
  left: 1%;
  /* -webkit-transform: translateY(-10%) rotate(10deg);
          transform: translateY(-10%) rotate(10deg); */ }

/* line 351, static/main/include.scss */
.banner .box-container .box .content h2 {
  color: red;
  font-size: 2rem; }

/* line 356, static/main/include.scss */
.banner .box-container .box .content span {
  font-size: 1.7rem;
  color: #0984e3; }

/* line 361, static/main/include.scss */
.banner .box-container .box .content h3 {
  font-size: 2rem;
  padding: .5rem 0;
  color: #333; }

/* line 367, static/main/include.scss */
.arrivals h1 span {
  color: red; }

/* line 371, static/main/include.scss */
.arrivals .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(33rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2rem; }

/* line 379, static/main/include.scss */
.arrivals .box-container .box {
  border-radius: .5rem;
  border: 0.2rem solid #333;
  padding: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  background: #fff; }

/* line 395, static/main/include.scss */
.arrivals .box-container .box:hover .image .main-img {
  display: none; }

/* line 399, static/main/include.scss */
.arrivals .box-container .box:hover .image .hover-img {
  display: inline-block; }

/* line 403, static/main/include.scss */
.arrivals .box-container .box .image img {
  height: 15rem;
  -webkit-animation: fadeIn .2s linear;
  animation: fadeIn .2s linear; }

/* line 409, static/main/include.scss */
.arrivals .box-container .box .image .hover-img {
  display: none; }

/* line 413, static/main/include.scss */
.arrivals .box-container .box .content h3 {
  font-size: 2rem;
  color: #333; }

/* line 418, static/main/include.scss */
.arrivals .box-container .box .content .price {
  padding-top: .5erm;
  font-size: 2rem;
  color: #0984e3;
  padding-bottom: .7rem; }

/* line 425, static/main/include.scss */
.arrivals .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through; }

/* line 431, static/main/include.scss */
.arrivals .box-container .box .content .stars i {
  font-size: 1.5rem;
  color: gold; }

/* line 436, static/main/include.scss */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* line 447, static/main/include.scss */
.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem; }

/* line 453, static/main/include.scss */
.about .image img {
  width: 100%; }

/* line 457, static/main/include.scss */
.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding: 3rem;
  background: #fff; }

/* line 465, static/main/include.scss */
.about .content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333; }

/* line 471, static/main/include.scss */
.about .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2; }

/* Faire la suite ici */
/* line 480, static/main/include.scss */
.faq .accordion-container {
  max-width: 70rem;
  margin: 0 auto; }

/* line 485, static/main/include.scss */
.faq .accordion-container .accordion {
  background: #fff;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* line 492, static/main/include.scss */
.faq .accordion-container .accordion:last-child {
  margin-bottom: .5rem; }

/* line 496, static/main/include.scss */
.faq .accordion-container .accordion.active .accordion-heading {
  background: #0984e3; }

/* line 500, static/main/include.scss */
.faq .accordion-container .accordion.active .accordion-heading i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

/* line 505, static/main/include.scss */
.faq .accordion-container .accordion.active .accordioin-content {
  display: block; }

/* line 509, static/main/include.scss */
.faq .accordion-container .accordion .accordion-heading {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #333;
  cursor: pointer; }

/* line 525, static/main/include.scss */
.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  color: #fff; }

/* line 530, static/main/include.scss */
.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #fff; }

/* line 535, static/main/include.scss */
.faq .accordion-container .accordioin-content {
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  display: none;
  -webkit-animation: fadeIn .2s linear;
  animation: fadeIn .2s linear; }

/* line 545, static/main/include.scss */
.review .slide {
  width: 35rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  background: #fff; }

/* line 556, static/main/include.scss */
.review .slide img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: .5rem; }

/* line 563, static/main/include.scss */
.review .slide h3 {
  font-size: 2rem;
  color: #333; }

/* line 568, static/main/include.scss */
.review .slide span {
  color: #0984e3;
  font-size: 1.7rem; }

/* line 573, static/main/include.scss */
.review .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  padding-top: 1rem; }

/* line 580, static/main/include.scss */
.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(15rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem; }

/* line 588, static/main/include.scss */
.category .box-container .box {
  text-align: center;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* line 598, static/main/include.scss */
.category .box-container .box:hover {
  background: #333; }

/* line 602, static/main/include.scss */
.category .box-container .box:hover h3 {
  color: #fff; }

/* line 606, static/main/include.scss */
.category .box-container .box img {
  height: 8rem;
  margin-bottom: .5rem; }

/* line 611, static/main/include.scss */
.category .box-container .box h3 {
  font-size: 1.7rem;
  color: #333; }

/* line 616, static/main/include.scss */
.products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(31rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem; }

/* line 624, static/main/include.scss */
.products .box-container .box {
  border: 0.2rem solid #333;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  overflow: hidden; }

/* line 634, static/main/include.scss */
.products .box-container .box:hover .image .hover-img {
  display: inline-block; }

/* line 638, static/main/include.scss */
.products .box-container .box:hover .image .main-img {
  display: none; }

/* line 642, static/main/include.scss */
.products .box-container .box:hover .image .icons {
  left: 1rem; }

/* line 646, static/main/include.scss */
.products .box-container .box .image {
  position: relative; }

/* line 650, static/main/include.scss */
.products .box-container .box .image img {
  height: 30rem;
  -webkit-animation: fadeIn .2s linear;
  animation: fadeIn .2s linear; }

/* line 656, static/main/include.scss */
.products .box-container .box .image .hover-img {
  display: none; }

/* line 660, static/main/include.scss */
.products .box-container .box .image .icons {
  position: absolute;
  top: 0;
  left: -7rem; }

/* line 666, static/main/include.scss */
.products .box-container .box .image .icons a {
  display: block;
  margin-top: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  border-radius: 50%;
  color: #fff;
  background: #333; }

/* line 678, static/main/include.scss */
.products .box-container .box .image .icons a:hover {
  background: #0984e3; }

/* line 682, static/main/include.scss */
.products .box-container .box .content {
  padding: 2rem; }

/* line 686, static/main/include.scss */
.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #333; }

/* line 691, static/main/include.scss */
.products .box-container .box .content .price {
  font-size: 2.2rem;
  color: #0984e3;
  padding-bottom: .7rem;
  padding-top: .5rem; }

/* line 698, static/main/include.scss */
.products .box-container .box .content .price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through; }

/* line 704, static/main/include.scss */
.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: gold; }

/* line 709, static/main/include.scss */
.product-banner .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem; }

/* line 718, static/main/include.scss */
.product-banner .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  border: 0.2rem solid #333;
  overflow: hidden;
  height: 30rem; }

/* line 731, static/main/include.scss */
.product-banner .box-container .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/* line 736, static/main/include.scss */
.product-banner .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

/* line 743, static/main/include.scss */
.product-banner .box-container .box .content {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 751, static/main/include.scss */
.product-banner .box-container .box .content span {
  font-size: 1.7rem;
  color: #0984e3; }

/* line 756, static/main/include.scss */
.product-banner .box-container .box .content h3 {
  padding-top: .5rem;
  font-size: 2rem;
  color: #333; }

/* line 763, static/main/include.scss */
.register form,
.login form {
  max-width: 40rem;
  border-radius: .5rem;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  margin: 1rem auto; }

/* line 775, static/main/include.scss */
.register form h3,
.login form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #333;
  text-transform: uppercase; }

/* line 783, static/main/include.scss */
.register form .box,
.login form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
  margin: .7rem 0; }

/* line 795, static/main/include.scss */
.register form .remember,
.login form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: .5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem; }

/* line 808, static/main/include.scss */
.register form .remember label,
.login form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer; }

/* line 815, static/main/include.scss */
.register form .btn,
.login form .btn {
  width: 100%;
  text-align: center; }

/* line 821, static/main/include.scss */
.register form .btn.link,
.login form .btn.link {
  background: #333; }

/* line 826, static/main/include.scss */
.register form .btn.link:hover,
.login form .btn.link:hover {
  background: #0984e3; }

/* line 831, static/main/include.scss */
.register form p,
.login form p {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  padding-bottom: 1rem; }

/* line 840, static/main/include.scss */
.shopping-cart .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(31rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem; }

/* line 848, static/main/include.scss */
.shopping-cart .box-container .box {
  padding: 2rem;
  border: 0.2rem solid #333;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: .5rem;
  position: relative; }

/* line 865, static/main/include.scss */
.shopping-cart .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer; }

/* line 874, static/main/include.scss */
.shopping-cart .box-container .box .fa-times:hover {
  color: #333; }

/* line 878, static/main/include.scss */
.shopping-cart .box-container .box img {
  height: 12rem; }

/* line 882, static/main/include.scss */
.shopping-cart .box-container .box .content h3 {
  font-size: 1.7rem;
  color: #333; }

/* line 887, static/main/include.scss */
.shopping-cart .box-container .box .content form {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* line 898, static/main/include.scss */
.shopping-cart .box-container .box .content form span {
  font-size: 1.5rem;
  color: #666; }

/* line 903, static/main/include.scss */
.shopping-cart .box-container .box .content form input {
  width: 7rem;
  padding: .5rem 1rem;
  color: #666;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.5rem; }

/* line 912, static/main/include.scss */
.shopping-cart .box-container .box .content .price {
  font-size: 2rem;
  color: #0984e3; }

/* line 917, static/main/include.scss */
.shopping-cart .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through; }

/* line 923, static/main/include.scss */
.shopping-cart .cart-total {
  margin-top: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  border-radius: .5rem;
  background: #fff;
  padding: 2rem;
  padding-top: 1rem; }

/* line 934, static/main/include.scss */
.shopping-cart .cart-total h3 {
  padding-top: 1rem;
  font-size: 2rem;
  color: #333; }

/* line 940, static/main/include.scss */
.shopping-cart .cart-total h3 span {
  color: #0984e3; }

/* line 944, static/main/include.scss */
.quick-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  background: #333;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* line 958, static/main/include.scss */
.quick-links .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder; }

/* line 964, static/main/include.scss */
.quick-links .logo i {
  color: gold; }

/* line 968, static/main/include.scss */
.quick-links .links a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #fff; }

/* line 974, static/main/include.scss */
.quick-links .links a:hover {
  color: gold; }

/* line 978, static/main/include.scss */
.quick-links .share a {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem; }

/* line 984, static/main/include.scss */
.quick-links .share a:hover {
  color: gold; }

/* line 988, static/main/include.scss */
.credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  background: #fff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* line 1004, static/main/include.scss */
.credit p {
  font-size: 2rem;
  color: #666; }

/* line 1009, static/main/include.scss */
.credit p span {
  color: #0984e3; }

/* line 1013, static/main/include.scss */
.credit img {
  height: 4rem;
  -webkit-filter: drop-shadow(0 0 0.1rem #333);
  filter: drop-shadow(0 0 0.1rem #333); }
