@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
/* line 2, static/main/include.scss */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  /* Definitions des couleurs  */
  --couleur-primaire:#000033;
  --couleur-secondaire: #eee;
  --couleur-tairtier:#66ccff;
  --couleur-quatre: #cc3300;
  --couleur-blue: #0984e3;
  --couleur-noir:#333;
  --couleur-blanc:#fff; }

/* line 26, static/main/include.scss */
html {
  overflow-x: hidden;
  font-size: 62.5%; }

/* line 31, static/main/include.scss */
html::-webkit-scrollbar {
  width: 1rem; }

/* line 35, static/main/include.scss */
html::-webkit-scrollbar-track {
  background: var(--couleur-secondaire); }

/* line 40, static/main/include.scss */
html::-webkit-scrollbar-thumb {
  background: var(--couleur-primaire);
  border-radius: 5rem; }

/* line 46, static/main/include.scss */
body {
  background: var(--couleur-secondaire); }

/* line 50, static/main/include.scss */
#responsive {
  display: none; }

/* line 54, static/main/include.scss */
#large {
  display: block; }

/* line 58, static/main/include.scss */
#shop {
  display: none; }

/* line 62, static/main/include.scss */
section {
  padding: 3rem 9%; }

/* line 66, static/main/include.scss */
.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--couleur-noir); }

/* line 73, static/main/include.scss */
.heading span {
  color: var(--couleur-primaire); }

/* line 77, static/main/include.scss */
.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--couleur-blanc);
  cursor: pointer;
  background: var(--couleur-primaire);
  text-decoration: none; }

/* line 89, static/main/include.scss */
.btn:hover {
  background: var(--couleur-blue); }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0; } }

/* line 109, static/main/include.scss */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--couleur-primaire);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 9%; }

/* line 129, static/main/include.scss */
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder; }

/* line 135, static/main/include.scss */
.header .logo i {
  color: gold; }

/* line 139, static/main/include.scss */
.header .search-form {
  border-radius: 5rem;
  height: 5rem;
  width: 50rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--couleur-secondaire); }

/* line 153, static/main/include.scss */
.header .search-form input {
  width: 100%;
  padding-right: 1rem;
  font-size: 1.7rem;
  text-transform: none;
  color: #666; }

/* line 161, static/main/include.scss */
.header .search-form label {
  font-size: 2rem;
  color: #666;
  cursor: pointer; }

/* line 167, static/main/include.scss */
.header .search-form label:hover {
  color: #0984e3; }

/* line 171, static/main/include.scss */
.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none; }

/* line 180, static/main/include.scss */
.header .icons a:hover,
.header .icons div:hover {
  color: gold; }

/* line 185, static/main/include.scss */
#search-btn {
  display: none; }

/* line 189, static/main/include.scss */
.side-bar {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 30rem;
  background: var(--couleur-secondaire);
  z-index: 10000; }

/* line 199, static/main/include.scss */
.side-bar.active {
  left: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7); }

/* line 205, static/main/include.scss */
.side-bar #close-side-bar {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #666; }

/* line 214, static/main/include.scss */
.side-bar #close-side-bar:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #333; }

/* line 220, static/main/include.scss */
.side-bar .user {
  padding: 2rem;
  background: #eee;
  text-align: center; }

/* line 226, static/main/include.scss */
.side-bar .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin-bottom: .5rem; }

/* line 236, static/main/include.scss */
.side-bar .user h3 {
  padding: .5rem 0;
  font-size: 1.7rem;
  color: #666; }

/* line 242, static/main/include.scss */
.side-bar .user a {
  font-size: 1.5rem;
  color: #0984e3;
  text-decoration: none; }

/* line 248, static/main/include.scss */
.side-bar .user a:hover {
  color: #333; }

/* line 252, static/main/include.scss */
.side-bar .navbar {
  padding-top: 1rem; }

/* line 256, static/main/include.scss */
.side-bar .navbar a {
  display: block;
  padding: 1rem 2rem;
  font-size: 2.5  rem;
  color: #666;
  text-decoration: none; }

/* line 264, static/main/include.scss */
.side-bar .navbar a:hover {
  color: #0984e3; }

/* line 268, static/main/include.scss */
.side-bar .navbar a:hover i {
  padding-right: 2rem; }

/* line 272, static/main/include.scss */
.side-bar .navbar a i {
  padding-right: .5rem; }

/* line 276, static/main/include.scss */
.home {
  background: var(--couleur-blanc); }

/* line 280, static/main/include.scss */
.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 40rem;
  padding: 2rem 0; }

/* line 294, static/main/include.scss */
.home .slide .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  text-align: center; }

/* line 301, static/main/include.scss */
.home .slide .image img {
  height: 30rem; }

/* line 305, static/main/include.scss */
.home .slide .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem; }

/* line 311, static/main/include.scss */
.home .slide .content span {
  font-size: 2rem;
  color: #0984e3; }

/* line 316, static/main/include.scss */
.home .slide .content h3 {
  padding-top: .5rem;
  color: #333;
  font-size: 3rem; }

/* line 322, static/main/include.scss */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #333; }

/* SECTION DE VENTES */
/* Debut code de test */
/* Fin code de test */
/* line 335, static/main/include.scss */
.banner .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(31rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem; }

/* line 343, static/main/include.scss */
.banner .box-container .box {
  position: relative;
  height: 35rem;
  border: 0.2rem solid #333;
  border-radius: .5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(203, 65, 65, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* .banner .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
} */
/* line 358, static/main/include.scss */
.banner .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

/* line 365, static/main/include.scss */
.banner .box-container .box .content {
  position: absolute;
  top: 63%;
  left: 1%;
  /* -webkit-transform: translateY(-10%) rotate(10deg);
          transform: translateY(-10%) rotate(10deg); */ }

/* line 373, static/main/include.scss */
.banner .box-container .box .content span {
  font-size: 1.7rem;
  color: #0984e3; }

/* line 378, static/main/include.scss */
.banner .box-container .box .content h3 {
  font-size: 2rem;
  padding: .5rem 0;
  color: #333; }

/* line 384, static/main/include.scss */
.arrivals .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(33rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2rem; }

/* line 392, static/main/include.scss */
.arrivals .box-container .box {
  border-radius: .5rem;
  border: 0.2rem solid #333;
  padding: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  background: #fff; }

/* line 408, static/main/include.scss */
.arrivals .box-container .box:hover .image .main-img {
  display: none; }

/* line 412, static/main/include.scss */
.arrivals .box-container .box:hover .image .hover-img {
  display: inline-block; }

/* line 416, static/main/include.scss */
.arrivals .box-container .box .image img {
  height: 15rem;
  -webkit-animation: fadeIn .2s linear;
  animation: fadeIn .2s linear; }

/* line 422, static/main/include.scss */
.arrivals .box-container .box .image .hover-img {
  display: none; }

/* line 426, static/main/include.scss */
.arrivals .box-container .box .content h3 {
  font-size: 2rem;
  color: #333; }

/* line 431, static/main/include.scss */
.arrivals .box-container .box .content .price {
  padding-top: .5erm;
  font-size: 2rem;
  color: #0984e3;
  padding-bottom: .7rem; }

/* line 438, static/main/include.scss */
.arrivals .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through; }

/* line 444, static/main/include.scss */
.arrivals .box-container .box .content .stars i {
  font-size: 1.5rem;
  color: gold; }

/* line 449, static/main/include.scss */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* line 460, static/main/include.scss */
.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem; }

/* line 466, static/main/include.scss */
.about .image img {
  width: 100%; }

/* line 470, static/main/include.scss */
.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding: 3rem;
  background: #fff; }

/* line 478, static/main/include.scss */
.about .content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333; }

/* line 484, static/main/include.scss */
.about .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2; }

/* line 491, static/main/include.scss */
.faq .accordion-container {
  max-width: 70rem;
  margin: 0 auto; }

/* line 496, static/main/include.scss */
.faq .accordion-container .accordion {
  background: #fff;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* line 503, static/main/include.scss */
.faq .accordion-container .accordion:last-child {
  margin-bottom: .5rem; }

/* line 507, static/main/include.scss */
.faq .accordion-container .accordion.active .accordion-heading {
  background: #0984e3; }

/* line 511, static/main/include.scss */
.faq .accordion-container .accordion.active .accordion-heading i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

/* line 516, static/main/include.scss */
.faq .accordion-container .accordion.active .accordioin-content {
  display: block; }

/* line 520, static/main/include.scss */
.faq .accordion-container .accordion .accordion-heading {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #333;
  cursor: pointer; }

/* line 536, static/main/include.scss */
.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  color: #fff; }

/* line 541, static/main/include.scss */
.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #fff; }

/* line 546, static/main/include.scss */
.faq .accordion-container .accordioin-content {
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  display: none;
  -webkit-animation: fadeIn .2s linear;
  animation: fadeIn .2s linear; }

/* line 556, static/main/include.scss */
.review .slide {
  width: 35rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  background: #fff; }

/* line 567, static/main/include.scss */
.review .slide img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: .5rem; }

/* line 574, static/main/include.scss */
.review .slide h3 {
  font-size: 2rem;
  color: #333; }

/* line 579, static/main/include.scss */
.review .slide span {
  color: #0984e3;
  font-size: 1.7rem; }

/* line 584, static/main/include.scss */
.review .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  padding-top: 1rem; }

/* line 591, static/main/include.scss */
.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(15rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem; }

/* line 599, static/main/include.scss */
.category .box-container .box {
  text-align: center;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* line 609, static/main/include.scss */
.category .box-container .box:hover {
  background: #333; }

/* line 613, static/main/include.scss */
.category .box-container .box:hover h3 {
  color: #fff; }

/* line 617, static/main/include.scss */
.category .box-container .box img {
  height: 8rem;
  margin-bottom: .5rem; }

/* line 622, static/main/include.scss */
.category .box-container .box h3 {
  font-size: 1.7rem;
  color: #333; }

/* line 627, static/main/include.scss */
.products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(31rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem; }

/* line 635, static/main/include.scss */
.products .box-container .box {
  border: 0.2rem solid #333;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  overflow: hidden; }

/* line 645, static/main/include.scss */
.products .box-container .box:hover .image .hover-img {
  display: inline-block; }

/* line 649, static/main/include.scss */
.products .box-container .box:hover .image .main-img {
  display: none; }

/* line 653, static/main/include.scss */
.products .box-container .box:hover .image .icons {
  left: 1rem; }

/* line 657, static/main/include.scss */
.products .box-container .box .image {
  position: relative; }

/* line 661, static/main/include.scss */
.products .box-container .box .image img {
  height: 30rem;
  -webkit-animation: fadeIn .2s linear;
  animation: fadeIn .2s linear; }

/* line 667, static/main/include.scss */
.products .box-container .box .image .hover-img {
  display: none; }

/* line 671, static/main/include.scss */
.products .box-container .box .image .icons {
  position: absolute;
  top: 0;
  left: -7rem; }

/* line 677, static/main/include.scss */
.products .box-container .box .image .icons a {
  display: block;
  margin-top: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  border-radius: 50%;
  color: #fff;
  background: #333; }

/* line 689, static/main/include.scss */
.products .box-container .box .image .icons a:hover {
  background: #0984e3; }

/* line 693, static/main/include.scss */
.products .box-container .box .content {
  padding: 2rem; }

/* line 697, static/main/include.scss */
.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #333; }

/* line 702, static/main/include.scss */
.products .box-container .box .content .price {
  font-size: 2.2rem;
  color: #0984e3;
  padding-bottom: .7rem;
  padding-top: .5rem; }

/* line 709, static/main/include.scss */
.products .box-container .box .content .price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through; }

/* line 715, static/main/include.scss */
.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: gold; }

/* line 720, static/main/include.scss */
.product-banner .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem; }

/* line 729, static/main/include.scss */
.product-banner .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  border: 0.2rem solid #333;
  overflow: hidden;
  height: 30rem; }

/* line 742, static/main/include.scss */
.product-banner .box-container .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/* line 747, static/main/include.scss */
.product-banner .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

/* line 754, static/main/include.scss */
.product-banner .box-container .box .content {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 762, static/main/include.scss */
.product-banner .box-container .box .content span {
  font-size: 1.7rem;
  color: #0984e3; }

/* line 767, static/main/include.scss */
.product-banner .box-container .box .content h3 {
  padding-top: .5rem;
  font-size: 2rem;
  color: #333; }

/* line 774, static/main/include.scss */
.register form,
.login form {
  max-width: 40rem;
  border-radius: .5rem;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  margin: 1rem auto; }

/* line 786, static/main/include.scss */
.register form h3,
.login form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #333;
  text-transform: uppercase; }

/* line 794, static/main/include.scss */
.register form .box,
.login form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
  margin: .7rem 0; }

/* line 806, static/main/include.scss */
.register form .remember,
.login form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: .5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem; }

/* line 819, static/main/include.scss */
.register form .remember label,
.login form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer; }

/* line 826, static/main/include.scss */
.register form .btn,
.login form .btn {
  width: 100%;
  text-align: center; }

/* line 832, static/main/include.scss */
.register form .btn.link,
.login form .btn.link {
  background: #333; }

/* line 837, static/main/include.scss */
.register form .btn.link:hover,
.login form .btn.link:hover {
  background: #0984e3; }

/* line 842, static/main/include.scss */
.register form p,
.login form p {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  padding-bottom: 1rem; }

/* line 851, static/main/include.scss */
.shopping-cart .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(31rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem; }

/* line 859, static/main/include.scss */
.shopping-cart .box-container .box {
  padding: 2rem;
  border: 0.2rem solid #333;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: .5rem;
  position: relative; }

/* line 876, static/main/include.scss */
.shopping-cart .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer; }

/* line 885, static/main/include.scss */
.shopping-cart .box-container .box .fa-times:hover {
  color: #333; }

/* line 889, static/main/include.scss */
.shopping-cart .box-container .box img {
  height: 12rem; }

/* line 893, static/main/include.scss */
.shopping-cart .box-container .box .content h3 {
  font-size: 1.7rem;
  color: #333; }

/* line 898, static/main/include.scss */
.shopping-cart .box-container .box .content form {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* line 909, static/main/include.scss */
.shopping-cart .box-container .box .content form span {
  font-size: 1.5rem;
  color: #666; }

/* line 914, static/main/include.scss */
.shopping-cart .box-container .box .content form input {
  width: 7rem;
  padding: .5rem 1rem;
  color: #666;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.5rem; }

/* line 923, static/main/include.scss */
.shopping-cart .box-container .box .content .price {
  font-size: 2rem;
  color: #0984e3; }

/* line 928, static/main/include.scss */
.shopping-cart .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through; }

/* line 934, static/main/include.scss */
.shopping-cart .cart-total {
  margin-top: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  border-radius: .5rem;
  background: #fff;
  padding: 2rem;
  padding-top: 1rem; }

/* line 945, static/main/include.scss */
.shopping-cart .cart-total h3 {
  padding-top: 1rem;
  font-size: 2rem;
  color: #333; }

/* line 951, static/main/include.scss */
.shopping-cart .cart-total h3 span {
  color: #0984e3; }

/* line 955, static/main/include.scss */
.quick-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  background: #333;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* line 969, static/main/include.scss */
.quick-links .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder; }

/* line 975, static/main/include.scss */
.quick-links .logo i {
  color: gold; }

/* line 979, static/main/include.scss */
.quick-links .links a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none; }

/* line 986, static/main/include.scss */
.quick-links .links a:hover {
  color: gold; }

/* line 990, static/main/include.scss */
.quick-links .share a {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
  text-decoration: none; }

/* line 997, static/main/include.scss */
.quick-links .share a:hover {
  color: gold; }

/* line 1001, static/main/include.scss */
.credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  background: #fff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* line 1017, static/main/include.scss */
.credit p {
  font-size: 2rem;
  color: #666; }

/* line 1022, static/main/include.scss */
.credit p span {
  color: #0984e3; }

/* line 1026, static/main/include.scss */
.credit img {
  height: 4rem;
  -webkit-filter: drop-shadow(0 0 0.1rem #333);
  filter: drop-shadow(0 0 0.1rem #333); }

/* Contact à revoir  */
/* line 1034, static/main/include.scss */
.info-container .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(31rem, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem; }

/* line 1042, static/main/include.scss */
.info-container .box-container .box {
  background: var(--couleur-secondaire);
  border-radius: .5rem;
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* line 1052, static/main/include.scss */
.info-container .box-container .box i {
  height: 7.5rem;
  width: 7.5rem;
  line-height: 7.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  /* background: #0984e3; */
  background: var(--couleur-primaire);
  color: var(--couleur-primaire); }

/* line 1065, static/main/include.scss */
.info-container .box-container .box h3 {
  font-size: 2rem;
  padding: .5rem 0;
  color: #333; }

/* line 1071, static/main/include.scss */
.info-container .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666; }

/* line 1076, static/main/include.scss */
.info-container .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  /* text-transform: none; */ }

/* line 1082, static/main/include.scss */
.info-container .box-container .box p:nth-of-type(1) {
  text-transform: none;
  color: #666; }

/* line 1086, static/main/include.scss */
.info-container .box-container .box p:nth-of-type(2) {
  text-transform: none;
  color: #666; }

/* line 1091, static/main/include.scss */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem; }

/* line 1100, static/main/include.scss */
.contact form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem; }

/* line 1106, static/main/include.scss */
.contact form h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 1rem; }

/* line 1113, static/main/include.scss */
.contact form p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2; }

/* line 1120, static/main/include.scss */
.contact form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* line 1131, static/main/include.scss */
.contact form .inputBox input {
  width: 49%; }

/* line 1135, static/main/include.scss */
.contact form .inputBox input, .contact form textarea {
  padding: 1.2rem 1.4rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  background: #fff;
  text-transform: none;
  color: #666;
  font-size: 1.5rem;
  margin: .7rem 0; }

/* line 1148, static/main/include.scss */
.contact form textarea {
  height: 15rem;
  resize: none;
  width: 100%; }

/* line 1154, static/main/include.scss */
.contact .map {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  width: 100%; }

/* line 1161, static/main/include.scss */
.newsletter {
  /* background: #0984e3; */
  background-color: var(--couleur-primaire);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem; }

/* line 1175, static/main/include.scss */
.newsletter .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem; }

/* line 1181, static/main/include.scss */
.newsletter .content h3 {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase; }

/* line 1187, static/main/include.scss */
.newsletter .content p {
  font-size: 2.2rem;
  color: #fff; }

/* line 1192, static/main/include.scss */
.newsletter form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
  border-radius: .5rem; }

/* line 1204, static/main/include.scss */
.newsletter form .email {
  width: 100%;
  padding: 0 1.4rem;
  text-transform: none;
  color: #666;
  font-size: 1.6rem; }

/* line 1212, static/main/include.scss */
.newsletter form .btn {
  margin-top: 0; }
