{% extends 'base.html' %}
{% load static %}
{% block titre%}Page à propos de nous{%endblock%}

{% block content %}
<section class="about">

    <div class="image">
        <img src="{% static 'imagesTest/about-img.png'%}" alt="">
    </div>

    <div class="content">
        <h3>à propos de nous</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam modi ea fuga quibusdam fugiat porro doloremque, quas dignissimos culpa unde. Recusandae maxime aliquam beatae reiciendis, facilis voluptatum eligendi nesciunt ipsa?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, distinctio et? Odio voluptatum eius reprehenderit saepe quisquam excepturi molestiae architecto.</p>
        <a href="{% url 'shop:question' %}" class="btn">consulter les questions</a>
    </div>

</section>

<!-- about section ends -->


<!-- review section starts  -->

<section class="review">
    <h1 class="heading"> notre <span>équipe</span> </h1>
    <div class="swiper review-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide">
                <img src="{% static 'imagesTest/1.jpg'%}" alt="">
                <h3>Auguy Kadima</h3>
                <span>CEO</span>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt explicabo laborum eos delectus, in pariatur iste! Ducimus laudantium nostrum odio.</p>
            </div>
        </div>
    </div>
</section>

<!-- review section ends -->
{% endblock content %}
