{% extends 'base.html'%}
{% load static %}
{% block titre%}Page de commande {%endblock%}

{% block content%}

<!-- contact section starts  -->

<section class="contact" id='form-wrapper'>
    
        <form action="" id="form">
            {% csrf_token %}

            <p class="text-success" id="user-info"><span>Informations personnelle</span></p>
            <div class="inputBox" id="user-info">
                <input type="text" name="name" placeholder="Nom" required>
                <input type="text" name="username" placeholder="Prenom" required>
                <input type="email"name="email" placeholder="vote mail" required>
                <input type="number" name="phone" placeholder="Téléphone" required>
            </div>

            <p><span>Informations D'expedition</span></p>
            <div class="inputBox" id="shipping-info">
                <input type="text" name="address" placeholder="address..." required>
                <input type="text" name="city" placeholder="Ville..." required>
                <input type="text" name="state" placeholder="Pays..." required>
                <input type="text" name="zipcode" placeholder="Zip code..." required>
            </div>
            <hr>
            <!-- <textarea name="" placeholder="votre message" id="" cols="30" rows="10"></textarea> -->
            <!-- <input type="submit box-element btn-block"  class="btn-success w-100" id="form-button"> -->
            <input id="form-button" class="btn w-100 btn-success btn-block" type="submit" value="Continuer">

            <div class="box-element hidden " id="payment-info">
                <small>Veillez choissir le Mode de paiement</small>
                <center class="bg-info my-3"><buttonon onclick="checkout()">
                    <img src="{% static 'images/freshpay.png' %}" alt="">
                </button></center>
                 <div id="paypal-button-container"></div> 
                <!--<button class="btn-success w-100 " id="make-payment">Effectuer lee paiement</button>-->
            </div>
        </form>

    



    <!-- <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15076.89592087332!2d72.8319697277345!3d19.14167056419224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maharashtra%20400047!5e0!3m2!1sen!2sin!4v1638365961619!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe> -->
    <div class="col-lg-7">
        <div class="box-element w-100" >

            <a class="btn-success btn-outline-dark" href="{% url 'shop:panier' %}">&#x2190; Retour au panier </a>

            <hr>
            <h3 class="name">Recapitulatif de la commande</h3>
            <hr>

            {% for article in articles %}
            <div class="panier-row">
                <div style="flex:2"><img class="row-image" src="{{article.produit.imageUrl}}" alt=""></div>
                <div style="flex:2" class="name">{{article.produit.name}}</div>
                <div style="flex:1" class="name">${{article.produit.price}}</div>
                <div style="flex:1" class="name">{{article.quantite}}</div>
            </div>
            {% endfor%}

            <h5 style="font-size: 1.8rem;">Articles : <span style="color: red; font-weight: bold;">{{commande.get_panier_article}}</span></h5>
            <h5 style="font-size: 1.8rem;">Total: <span style="color: red; font-weight: bold;">${{commande.get_panier_total}}</span></h5>

        </div>
    </div>

</section>


<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AZ0eZylbqLFaIEyWfH74MMFdCYRiR9PgIVKXjJiReDinExGn6ugJD1qFPge5bT_doUFj3Fu8Eil0DvPJ&currency=USD"></script>

<script>
    var total = parseFloat('{{commande.get_panier_total}}').toFixed(2);
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        
        style:{
           color: 'blue',
           shape: 'rect',
        },
        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                submitFormData(transaction.id, transaction.status);

                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');
</script>


<!-- Integration freshpay-->
<script>

    var request = require('request');
    var options = {
        'method': 'POST',
        'url': 'https://paydrc.gofreshbakery.net/api/v5/',
        'headers': {
            'Content-Type': 'application/json'
        },

    body: JSON.stringify({

        "merchant_id": "jwHfjdopenc3yt$Tb",
        "merchant_secrete": "jz5ulzR!a54kGg!iF",
        "amount": "100",
        "currency": "CDF",
        "action": "debit",
        "customer_number": "0998912287",
        "firstname": "SupportTest",
        "lastname": "SupportTest",
        "e-mail": "support@gofreshbakery.com",
        "reference": "test",
        "method": "airtel"

    })

    };
    request(options, function (error, response) {
    if (error) throw new Error(error);
        console.log(response.body);
    });
    
</script>


<script type="text/javascript">
    var total = parseFloat("{{commande.get_panier_total}}");
    var produitPhysique = "{{ commande.produit_physique }}";

    if (produitPhysique == "False") {
        document.getElementById('shipping-info').innerHTML = '';
    }

    if (user != "AnonymousUser") {
        document.getElementById('user-info').innerHTML = '';
    }
    if (produitPhysique == "False" && user != "AnonymousUser") {
        document.getElementById('form-wrapper').innerHTML = '';
        document.getElementById('payment-info').classList.remove('hidden');

    }

    var form = document.getElementById('form');
    form.addEventListener('submit', function(e){
        e.preventDefault();
        console.log('donnée en cours ...');
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })

    //document.getElementById('make-payment').addEventListener('click', function (e) {
    //  submitFromData();
    //})

    function submitFromData(transaction_id, status) {
        //console.log('Traitement commande en cours');
        paymentInfo = {
            'transaction_id': transaction_id,
            'status': status,
            'total':total
        }

        var userFormData = {
            'name': null,
            'username': null,
            'phone': null,
            'email': null,
            'total': total,
        }

        var shippingUserInfo = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
        }

        if (produitPhysique != "False") {
            shippingUserInfo.address = form.address.value;
            shippingUserInfo.city = form.city.value;
            shippingUserInfo.state = form.state.value;
            shippingUserInfo.zipcode = form.zipcode.value;
        }

        if (user == "AnonymousUser") {
            userFormData.name = form.name.value;
            userFormData.username = form.username.value;
            userFormData.phone = form.phone.value;
            userFormData.email = form.email.value;

            //console.log(userFormData);
        }

        var url = '/traitement_commande/';

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({ "form": userFormData, "shipping": shippingUserInfo, 'payment_info':paymentInfo })
        })

        .then((response) => {
            return response.json();
        })

        .then((data) => {
            console.log('data', data);
            alert('Commande terminé');
            window.location.href = "{% url 'shop:shop' %}";
        })
    }
</script>


{% endblock%}