{% extends 'base.html'%}
{% load static %}
{% block titre%}Page de commande {%endblock%}

{% block content%}

<!-- contact section starts  -->

<section class="contact">

    <form action="">
       
        <div class="inputBox">
            <input type="text" placeholder="Nom">
            <input type="text" placeholder="Prenom">
            <input type="email" placeholder="vote mail">
            <input type="number" placeholder="Téléphone">
        </div>
        <p><span>Informations D'expedition</span></p>
        <div class="inputBox">
            <input type="text" placeholder="sujet">
            <input type="text" placeholder="sujet">
            <input type="text" placeholder="sujet">
            <input type="text" placeholder="sujet">
        </div>
        <!-- <textarea name="" placeholder="votre message" id="" cols="30" rows="10"></textarea> -->
        <input type="submit" value="voyez le message" class="btn">
    </form>

    <!-- <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15076.89592087332!2d72.8319697277345!3d19.14167056419224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maharashtra%20400047!5e0!3m2!1sen!2sin!4v1638365961619!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe> -->
    <div class="col-lg-7">
        <div class="box-element">

            <a class="btn btn-outline-dark" href="{% url 'shop:panier' %}">&#x2190; Retour au panier </a>

            <hr>
            <h3>Recapitulatif de la commande</h3>
            <hr>

            {% for article in articles %}
            <div class="panier-row">
                <div style="flex:2"><img class="row-image" src="{{article.produit.imageUrl}}" alt=""></div>
                <div style="flex:2">Robe</div>
                <div style="flex:1">$100 </div>
                <div style="flex:1">100</div>
            </div>
            {% endfor%}


            <h5>Articles : Robe</h5>
            <h5>Total: $1000</h5>

        </div>
    </div>

</section>

<!-- contact section ends -->


{% endblock%}