{% extends 'base.html' %}
{% load static%}
{%block titre%}Page d'accueil{%endblock%}

{%block content%}
<!-- home section starts  -->

<section class="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">
    
        <div class="swiper-slide slide">
            <div class="image">
                <img src="{{ produit.imageUrl }}" alt="">
            </div>
            <div class="content">
                <h3>{{produit.name}} Robe <span style="color: red; font-weight: bold;">${{produit.price}} 100</span></h3>
                <a href="{% url 'shop:panier'%}" class="btn add-btn update-panier" data-produit={{produit.id}}
                data-action="add">ajouter au panier</a>
                
            </div>
        </div>
    

        
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- home section ends -->

<!-- SECTION DE VENTE  -->

<section class="banner">

    <div class="box-container">
        <div class="box">
            <img src="{% static 'imagesTest/banner-1.jpg'%}" alt="">
            <div class="content">
                <span>l'écouteur</span>
                <h3>un meilleur prix</h3>
                <span style="color: red; font-size: 2rem; font-weight: bold;">$10</span>
                
                <div>
                    <a href="" class="btn">Ajouter au panier</a>
                    <a href="" class="btn">voir </a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'imagesTest/banner-2.jpg' %}" alt="">
            <div class="content">
                <span>special promotion</span>
                <h3>à 50% offerte</h3>
                <span style="color: red; font-size: 2rem; font-weight: bold;">$10</span>
                <div>
                    <a href="" class="btn">Ajouter au panier</a>
                    <a href="" class="btn">voir</a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'imagesTest/banner-3.jpg' %}" alt="">
            <div class="content">
                <span>special promotion</span>
                <h3>à 50% offerte</h3>
                <span style="color: red; font-size: 2rem; font-weight: bold;">$10</span>
                <div>
                    <a href="" class="btn">Ajouter au panier</a>
                    <a href="" class="btn">voir</a>
                </div>
            </div>
        </div>
        
    </div>

</section>

<!-- banner section ends -->

{%endblock%}
