{% extends 'base.html' %}
{% load static%}
{%block titre%}Page d'accueil{%endblock%}

{%block content%}
<!-- home section starts  -->

<section class="home">
    
    <div class="swiper home-slider">
    
        <div class="swiper-wrapper">
    {% for produit in produits %}
        <div class="swiper-slide slide">
            <div class="image">
                <img src="{{ produit.imageUrl }}" alt="">
            </div>
            <div class="content">
                <h3>{{produit.name}} <span style="color: red; font-weight: bold;">${{produit.price}}</span></h3>
                <a href="{% url 'shop:panier'%}" class="btn add-btn update-panier" data-produit={{produit.id}}
                data-action="add">ajouter au panier</a>
                
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        
    {%endfor%}

        
    
    </div>
   

</section>

<!-- home section ends -->

<!-- SECTION DE VENTE  -->

<section class="banner">

    <div class="box-container">
        {% for produit in produits %}
        <div class="box">
            <img src="{{ produit.imageUrl }}" alt="">
            <div class="content">
                <br><br>
                <h3>{{produit.name}}</h3>
                <span style="color:var(--couleur-primaire); font-size: 2rem; font-weight: bold;">${{produit.price}}</span>
                
                <div>
                    <a href="{% url 'shop:panier'%}" class="btn add-btn update-panier" data-produit={{produit.id}}
                        data-action="add">ajouter au panier</a>
                    <a href="" class="btn">voir </a>
                </div>
            </div>
        </div>
        {%endfor%}

        
    </div>

</section>

<!-- banner section ends -->

{%endblock%}
