{% extends 'base.html' %}
{% block titre %} Page de connexion{%endblock%}

{% block content%}
<br><br><br><br><br><br><br>
<section class="contact" id='form-wrapper'>
    <h1>Page d'inscription</h1>
    <form action="{% url 'auth:connexion' %}" method="POST" id="form">
    {% csrf_token %}
        <div class="inputBox" id="user-info">
            <label for="">Username</label>
            <input type="text" name="username" id="username" placeholder="Create a username">
            <br>
            <label for="">Password</label>
            <input type="password" name="pass1" id="pass1" placeholder="Create a Password">
            
        </div>
        <input id="" class="btn w-100 btn-success btn-block" type="submit" value="Login">
    </form>
   
</section>
<br><br><br><br><br><br><br>
{%endblock%}